{# 
  Template de página personalizado para IACT
  Extiende el template de página de Furo
#}

{% extends "!page.html" %}

{% block content %}
  {{ body }}
{% endblock %}

{# Footer personalizado al final - sobrescribe el footer de Furo #}
{% block footer %}
  <footer>
    <div class="bottom-of-page">
      <div class="left-details"></div>
      <div class="right-details">
        <div class="iact-custom-footer">
          Copyright © <span id="copyright-year"></span>, Equipo IACT
        </div>
      </div>
    </div>
  </footer>
  <script>
    document.getElementById('copyright-year').textContent = new Date().getFullYear();
  </script>
{% endblock %}